@tailwind base;
@tailwind components;
@tailwind utilities;

/* section {
  height: 100vh;
} */

* {
  box-sizing: border-box;
}

.card {
  position: relative;
  z-index: 5;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 3px); /* Increase size to mimic padding */
  height: calc(100% + 3px); /* Increase size to mimic padding */
  transform: translate(-50%, -50%); /* Center the pseudo-element */
  background-image: conic-gradient(
    from var(--angle),
    transparent 60%,
    #ffd700,
    #7851a9
  );
  z-index: -1;
  border-radius: 10px;
  animation: 4s spin linear infinite;
}

.card::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
