@tailwind base;
@tailwind components;
@tailwind utilities;

/* section {
  height: 100vh;
} */

* {
  box-sizing: border-box;
}

.card {
  position: relative;
  z-index: 5;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 3px); /* Increase size to mimic padding */
  height: calc(100% + 3px); /* Increase size to mimic padding */
  transform: translate(-50%, -50%); /* Center the pseudo-element */
  background-image: conic-gradient(from var(--angle), transparent 80%, #ffd700);
  z-index: -1;
  border-radius: 16px;
  animation: 5s spin linear infinite;
}

.card::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted #000;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #ff3d00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
